*.asv
*.mat
*.eps
*.jnl
*.log
*.out
*.aux
tmp/
cache/
*~
mus*.dta
*.backup
*.bbl
*.nav
*.toc
*.vrb
*.snm
*.synctex.*
*.blg
.idea/
.spyder*
*.pyc
*.bin
*.dat
*.swp
*.kilepr
build/
**/*.c
**/*.html
**/*.so
*.ttt
*.tps
*.fff
*.lof
*.lot